// app global css in SCSS form

.q-btn.bg-white{
    background: #ffffff !important;
}

.q-btn.bg-yellow{
    background: #ffc107 !important;
}
.q-btn.bg-red{
    background: #9f200f !important;
}

.q-btn.bg-gray{
    background: gray !important;
}
.q-btn.text-black{
    color: #443a39 !important;
}